/* .container{
    background-color: black;
} */

form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid silver;
    border-radius: 10px;
    width: 500px;
    height: auto;
}

.header{
    text-align: center;
    padding: 15px 0;
    font-size: 20px;
    color: #fff;
    background-color: blue;
}

.details{
    padding: 20px 0;
    text-align: center;
    background-color: black;
}

input{
    background-color: black;
    color: #fff;
}


.box{
    width: 60%;
}

.box1{
    width: 60%;
}

a{
    text-decoration: none;
    color: blue;
    margin-left: 24px;
}

.footer{
    background-color: blue;
    padding: 10px 0;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.checkbox{
    border: 2px solid black;
    padding: 10px 0 10px 100px;
   background-color: black;
    color: #fff;
}

button{
    color: #fff;
    /* background-color: #1f52f9; */
    background-color: rgb(7, 10, 7);
    width: 180px;
    height: 35px;
    border-radius: 5px;
    border: none;
    font-size: 17px;
    cursor: pointer;
}
