<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Email or Phone</mat-label>
                    <input matInput placeholder="Email or phone" formControlName="email">
                    <mat-error>Enter first name</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Password" formControlName="password">
                    <mat-error>Enter first name</mat-error>
                </mat-form-field>
            </div>
            <div>
                <a href="" routerLink="/forget">Forgot password?</a>
            </div>
        </div>
    </form>
</div>